5_FILE_HANDLING.json
{
	"name": "5_FILE_HANDLING",
	"properties": {
		"activities": [
			{
				"name": "GET_FILE_TYPE",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_type",
					"value": {
						"value": "@split(pipeline().parameters.file,'.')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "GET_FILE_TYPE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('file_type')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "xlsx",
							"activities": [
								{
									"name": "READ_JSON_CONFIG",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "DATASET_ADLS_JSON_FILE_UIF",
											"type": "DatasetReference",
											"parameters": {
												"container_name": "email/attachment",
												"folder_name": "json",
												"file_name": "e_attachment.json"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "FILTER_CONFIG",
									"type": "Filter",
									"dependsOn": [
										{
											"activity": "READ_JSON_CONFIG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@activity('READ_JSON_CONFIG').output.value",
											"type": "Expression"
										},
										"condition": {
											"value": "@equals(item().attachment_prefix,split(pipeline().parameters.file,'.')[0])",
											"type": "Expression"
										}
									}
								},
								{
									"name": "LOOKUP_XLSX",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "FILTER_CONFIG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"dataset": {
											"referenceName": "DATASET_ADLS_EXCEL_FILE_UIF",
											"type": "DatasetReference",
											"parameters": {
												"container_name": "email/attachment/segregate",
												"folder_name": {
													"value": "@pipeline().parameters.country",
													"type": "Expression"
												},
												"file_name": {
													"value": "@pipeline().parameters.file",
													"type": "Expression"
												},
												"sheet_name": "Metrics"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "SCHEMA",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "FILTER_CONFIG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "schema",
										"value": {
											"value": "@activity('FILTER_CONFIG').output.value[0].target_table_schema",
											"type": "Expression"
										}
									}
								},
								{
									"name": "TABLE",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "FILTER_CONFIG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@activity('FILTER_CONFIG').output.value[0].target_table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"value": "csv",
							"activities": [
								{
									"name": "READ_JSON_CONFIG1",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"dataset": {
											"referenceName": "DATASET_ADLS_JSON_FILE_UIF",
											"type": "DatasetReference",
											"parameters": {
												"container_name": "email/attachment",
												"folder_name": "json",
												"file_name": "e_attachment.json"
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "FILTER_CONFIG1",
									"type": "Filter",
									"dependsOn": [
										{
											"activity": "READ_JSON_CONFIG1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"items": {
											"value": "@activity('READ_JSON_CONFIG1').output.value",
											"type": "Expression"
										},
										"condition": {
											"value": "@equals(item().attachment_prefix,split(pipeline().parameters.file,'.')[0])",
											"type": "Expression"
										}
									}
								},
								{
									"name": "LOOKUP_CSV",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "FILTER_CONFIG1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"dataset": {
											"referenceName": "DATASET_ADLS_CSV_FILE_UIF",
											"type": "DatasetReference",
											"parameters": {
												"container_name": "email/attachment/segregate",
												"folder_name": {
													"value": "@pipeline().parameters.country",
													"type": "Expression"
												},
												"file_name": {
													"value": "@pipeline().parameters.file",
													"type": "Expression"
												}
											}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "SCHEMA1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "FILTER_CONFIG1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "schema",
										"value": {
											"value": "@activity('FILTER_CONFIG1').output.value[0].target_table_schema",
											"type": "Expression"
										}
									}
								},
								{
									"name": "TABLE1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "FILTER_CONFIG1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "table",
										"value": {
											"value": "@activity('FILTER_CONFIG1').output.value[0].target_table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"file": {
				"type": "string"
			},
			"country": {
				"type": "string"
			}
		},
		"variables": {
			"file_type": {
				"type": "String"
			},
			"table": {
				"type": "String"
			},
			"schema": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UIF/0_ARCHIVE/EMAIL_ATTACHMENT_FLOW"
		},
		"annotations": []
	}
}