PIPELINE_LOAD_SNOWFLAKE_STAGE_COMPLEX_QUERY_WRAPPER_UIF.json
{
	"name": "PIPELINE_LOAD_SNOWFLAKE_STAGE_COMPLEX_QUERY_WRAPPER_UIF",
	"properties": {
		"activities": [
			{
				"name": "JOB_START",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL STAGING_GBL.SP_JOB_START(@{pipeline().parameters.run_key}, @{pipeline().parameters.job_key}, '@{pipeline().parameters.object_name}');",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "DATASET_SNOWFLAKE_STORED_PROC_UIF",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CHECK_JOB_STATUS",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "JOB_START",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('JOB_START').output.firstRow.SP_JOB_START, 0))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "JOB_END",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LOAD_USING_COMPLEX_QUERY",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL STAGING_GBL.SP_JOB_END(@{activity('JOB_START').output.firstRow.SP_JOB_START}, @{pipeline().parameters.job_key}, @{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key});",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "DATASET_SNOWFLAKE_STORED_PROC_UIF",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "LOAD_USING_COMPLEX_QUERY",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIPELINE_LOAD_SNOWFLAKE_STAGE_COMPLEX_QUERY_OS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"metadata_container": {
										"value": "@pipeline().parameters.metadata_container",
										"type": "Expression"
									},
									"config_folder": {
										"value": "@pipeline().parameters.config_folder",
										"type": "Expression"
									},
									"config_file": {
										"value": "@pipeline().parameters.config_file",
										"type": "Expression"
									},
									"target_table": {
										"value": "@pipeline().parameters.stage_table",
										"type": "Expression"
									},
									"load_type": {
										"value": "@pipeline().parameters.load_type",
										"type": "Expression"
									},
									"run_key": {
										"value": "@pipeline().parameters.run_key",
										"type": "Expression"
									},
									"flow_key": {
										"value": "@pipeline().parameters.flow_key",
										"type": "Expression"
									},
									"stage_container": {
										"value": "@pipeline().parameters.stage_container",
										"type": "Expression"
									},
									"stage_folder": {
										"value": "@pipeline().parameters.stage_folder",
										"type": "Expression"
									},
									"stage_schema": {
										"value": "@pipeline().parameters.stage_schema",
										"type": "Expression"
									},
									"job_key": {
										"value": "@pipeline().parameters.job_key",
										"type": "Expression"
									},
									"object_name": {
										"value": "@pipeline().parameters.object_name",
										"type": "Expression"
									},
									"run_detail_key": {
										"value": "@{activity('JOB_START').output.firstRow.SP_JOB_START}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"flow_key": {
				"type": "string"
			},
			"run_key": {
				"type": "string"
			},
			"job_key": {
				"type": "string"
			},
			"object_name": {
				"type": "string"
			},
			"metadata_container": {
				"type": "string"
			},
			"config_folder": {
				"type": "string"
			},
			"stage_schema": {
				"type": "string",
				"defaultValue": "STAGING"
			},
			"stage_table": {
				"type": "string"
			},
			"stage_container": {
				"type": "string",
				"defaultValue": "sf-staging"
			},
			"stage_folder": {
				"type": "string",
				"defaultValue": "STAGING"
			},
			"load_type": {
				"type": "string"
			},
			"config_file": {
				"type": "string"
			}
		},
		"folder": {
			"name": "UIF/MAIN_PIPELINE_JOBS/STAGE_LOAD/SAP HANA/SNOWFLAKE/WRAPPER"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-29T04:56:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}