PIPELINE_ZIP_FILE_EXIST_CHECK_UIF.json
{
	"name": "PIPELINE_ZIP_FILE_EXIST_CHECK_UIF",
	"properties": {
		"activities": [
			{
				"name": "FILE_LIST",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DATASET_FILE_SYSTEM_BINARY_FOLDER_UIF",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@pipeline().parameters.fs_folder_path_zip",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "CHECK_FILE_EXIST",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "FILE_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILE_LIST').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, replace(pipeline().parameters.fs_zip_file_name,'.zip',''))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CHECK_FILE_EXIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('CHECK_FILE_EXIST').output.FilteredItemsCount,1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CALL_JOB",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIPELINE_ZIP_JOB_START_UIF",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"fs_folder_path_zip": {
										"value": "@pipeline().parameters.fs_folder_path_zip",
										"type": "Expression"
									},
									"fs_zip_file_name": {
										"value": "@pipeline().parameters.fs_zip_file_name",
										"type": "Expression"
									},
									"adls_container_zip": {
										"value": "@pipeline().parameters.adls_container_zip",
										"type": "Expression"
									},
									"adls_folder_zip": {
										"value": "@pipeline().parameters.adls_folder_zip",
										"type": "Expression"
									},
									"adls_file_zip": {
										"value": "@pipeline().parameters.adls_file_zip",
										"type": "Expression"
									},
									"adls_container_unzip": {
										"value": "@pipeline().parameters.adls_container_unzip",
										"type": "Expression"
									},
									"adls_folder_unzip": {
										"value": "@pipeline().parameters.adls_container_unzip",
										"type": "Expression"
									},
									"internal_files": {
										"value": "@pipeline().parameters.internal_files",
										"type": "Expression"
									},
									"flow_key": {
										"value": "@pipeline().parameters.flow_key",
										"type": "Expression"
									},
									"run_key": {
										"value": "@pipeline().parameters.run_key",
										"type": "Expression"
									},
									"job_key": {
										"value": "@pipeline().parameters.job_key",
										"type": "Expression"
									},
									"object_name": {
										"value": "@pipeline().parameters.object_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fs_folder_path_zip": {
				"type": "string"
			},
			"fs_zip_file_name": {
				"type": "string"
			},
			"adls_container_zip": {
				"type": "string"
			},
			"adls_folder_zip": {
				"type": "string"
			},
			"adls_file_zip": {
				"type": "string"
			},
			"adls_container_unzip": {
				"type": "string"
			},
			"adls_folder_unzip": {
				"type": "string"
			},
			"internal_files": {
				"type": "string"
			},
			"flow_key": {
				"type": "string"
			},
			"run_key": {
				"type": "string"
			},
			"job_key": {
				"type": "string"
			},
			"object_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "UIF/ZIP_LOAD_FLOW"
		},
		"annotations": []
	}
}