PIPELINE_NON_PARALLEL_ERROR_UIF.json
{
	"name": "PIPELINE_NON_PARALLEL_ERROR_UIF",
	"properties": {
		"activities": [
			{
				"name": "CHECK_NON_ERROR",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL STAGING_GBL.sp_check_for_non_parallel_error(@{pipeline().parameters.flow_key},@{pipeline().parameters.run_key})",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "DATASET_SNOWFLAKE_STORED_PROC_UIF",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "CHECK_NON_ERROR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('CHECK_NON_ERROR').output.firstRow.SP_CHECK_FOR_NON_PARALLEL_ERROR",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "FAIL",
							"activities": [
								{
									"name": "FAIL_PIPELINE",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "CALL ALERT PIPELINE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SnowflakeSource",
											"query": "CALL DUMMY.DUMMY",
											"exportSettings": {
												"type": "SnowflakeExportCopyCommand"
											}
										},
										"dataset": {
											"referenceName": "DATASET_SNOWFLAKE_STORED_PROC_UIF",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "CALL ALERT PIPELINE",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIPELINE_SEND_ERRORLOG_RESULTS_UIF",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BODY_CONTENT": {
												"value": "Error Found. Please check the error log table for more details.",
												"type": "Expression"
											},
											"SUBJECT": {
												"value": "RGM_Update : (@{pipeline().globalParameters.env}) RGM - MASTER PIPELINE FAILED AT @{utcnow()} UTC ",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"flow_key": {
				"type": "string"
			},
			"run_key": {
				"type": "string"
			}
		},
		"folder": {
			"name": "UIF/MAIN_PIPELINE_JOBS"
		},
		"annotations": []
	}
}