pipeline/2_TEST_READ_COUNTRY_FOLDER.json
{
	"name": "2_TEST_READ_COUNTRY_FOLDER",
	"properties": {
		"activities": [
			{
				"name": "GET_SEGREGATE_FOLDERS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "email/attachment",
							"folder_name": "segregate"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET_SEGREGATE_FOLDERS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_SEGREGATE_FOLDERS').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "CALL_GET_FILES",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "3_TEST_GET_COUNTRY_FILES",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"country": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "UIF/0_ARCHIVE/EMAIL_ATTACHMENT_FLOW"
		},
		"annotations": []
	}
}