pipeline/3_TEST_GET_COUNTRY_FILES.json
{
	"name": "3_TEST_GET_COUNTRY_FILES",
	"properties": {
		"activities": [
			{
				"name": "READ_FOLDER",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "email/attachment/segregate",
							"folder_name": {
								"value": "@pipeline().parameters.country",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "READ_FOLDER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('READ_FOLDER').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GET_FILES",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "inner_files",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('inner_files')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "EXECUTE_FILES",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "5_FILE_HANDLING",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"file": {
										"value": "@item()",
										"type": "Expression"
									},
									"country": {
										"value": "@pipeline().parameters.country",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"country": {
				"type": "string"
			}
		},
		"variables": {
			"inner_files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "UIF/0_ARCHIVE/EMAIL_ATTACHMENT_FLOW"
		},
		"annotations": []
	}
}