pipeline/CDC_LOGIC_UIF.json
{
	"name": "CDC_LOGIC_UIF",
	"properties": {
		"activities": [
			{
				"name": "LOOKUP_FILE_CONFIG",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TRUNCATE_TBL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DATASET_ADLS_JSON_FILE_UIF",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "drivers/@{toLower(pipeline().globalParameters.env)}",
								"type": "Expression"
							},
							"folder_name": {
								"value": "config/file_movement",
								"type": "Expression"
							},
							"file_name": {
								"value": "config_execution_file_load.json",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FILTER_CSV",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LOOKUP_FILE_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_FILE_CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(and(and(equals(item().cdc_flag,'1'),equals(item().execute_flag,'1')),equals(split(item().type,',')[1],'CSV')), contains(pipeline().parameters.Jobs,string(item().job_key)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TRUNCATE_TBL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL staging_gbl.sp_truncate_table('staging_gbl.parallel_sp_exec_merge',@{pipeline().parameters.run_key},999,@{pipeline().parameters.flow_key});",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					}
				}
			},
			{
				"name": "ForEach-CSV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_CSV').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PARALLEL_LOAD",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL staging_gbl.sp_split_for_parallel_load(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key} ,'CALL STAGING_GBL.SP_MERGE_STANDARD(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key},''''@{concat(item().target_table_db,'.',item().target_table_schema,'.',replace(item().target_table,'_TEMP',''))}'''',''''@{concat(item().target_table_db,'.',item().target_table_schema,'.',item().target_table)}'''',''''@{item().cdc_cols}'''',''''@{item().cdc_cols}'''',''''ETL'''',1,''''@{item().cdc_dedupe}'''');')",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "FILTER_EXCEL",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LOOKUP_FILE_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_FILE_CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(and(and(equals(item().cdc_flag,'1'),equals(item().execute_flag,'1')),equals(split(item().type,',')[1],'EXCEL')), contains(pipeline().parameters.Jobs,string(item().job_key)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER_PARQUET",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LOOKUP_FILE_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_FILE_CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(and(and(equals(item().cdc_flag,'1'),equals(item().execute_flag,'1')),equals(split(item().type,',')[1],'PARQUET')), contains(pipeline().parameters.Jobs,string(item().job_key)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FILTER_TEXT",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LOOKUP_FILE_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_FILE_CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(and(and(equals(item().cdc_flag,'1'),equals(item().execute_flag,'1')),equals(split(item().type,',')[1],'TEXT')), contains(pipeline().parameters.Jobs,string(item().job_key)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach-EXCEL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_EXCEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_EXCEL').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PARALLEL_LOAD_copy1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL staging_gbl.sp_split_for_parallel_load(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key} ,'CALL STAGING_GBL.SP_MERGE_STANDARD(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key},''''@{concat(item().target_table_db,'.',item().target_table_schema,'.',replace(item().target_table,'_TEMP',''))}'''',''''@{concat(item().target_table_db,'.',item().target_table_schema,'.',item().target_table)}'''',''''@{item().cdc_cols}'''',''''@{item().cdc_cols}'''',''''ETL'''',1,''''@{item().cdc_dedupe}'''');')",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach-TEXT",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_TEXT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_TEXT').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PARALLEL_LOAD_copy2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL staging_gbl.sp_split_for_parallel_load(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key} ,'CALL STAGING_GBL.SP_MERGE_STANDARD(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key},''''@{concat(item().target_table_db,'.',item().target_table_schema,'.',replace(item().target_table,'_TEMP',''))}'''',''''@{concat(item().target_table_db,'.',item().target_table_schema,'.',item().target_table)}'''',''''@{item().cdc_cols}'''',''''@{item().cdc_cols}'''',''''ETL'''',1,''''@{item().cdc_dedupe}'''');')",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach-PARQUET",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_PARQUET",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_PARQUET').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PARALLEL_LOAD_copy3",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL staging_gbl.sp_split_for_parallel_load(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key} ,'CALL STAGING_GBL.SP_MERGE_STANDARD(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key},''''@{concat(item().target_table_db,'.',item().target_table_schema,'.',replace(item().target_table,'_TEMP',''))}'''',''''@{concat(item().target_table_db,'.',item().target_table_schema,'.',item().target_table)}'''',''''@{item().cdc_cols}'''',''''@{item().cdc_cols}'''',''''ETL'''',1,''''@{item().cdc_dedupe}'''');')",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "FETCH_QRYS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach-CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach-EXCEL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach-PARQUET",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach-TEXT",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach-HANA",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ForEach-SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "SELECT * FROM STAGING_GBL.PARALLEL_SP_EXEC_MERGE;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FETCH_QRYS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FETCH_QRYS').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SNOWFLAKE_CALL",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "@item().DDL",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LOOKUP_TABLE_CONFIG",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "TRUNCATE_TBL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DATASET_ADLS_JSON_FILE_UIF",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "drivers/@{toLower(pipeline().globalParameters.env)}",
								"type": "Expression"
							},
							"folder_name": {
								"value": "config/elt_process",
								"type": "Expression"
							},
							"file_name": {
								"value": "config_execution_elt_rdbms.json",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FILTER_HANA",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LOOKUP_TABLE_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_TABLE_CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(and(and(equals(item().cdc_flag,'1'),equals(item().execute_flag,'1')),equals(item().source,'HANA')), contains(pipeline().parameters.Jobs,string(item().job_key)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach-HANA",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_HANA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_HANA').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PARALLEL_LOAD_copy4",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL staging_gbl.sp_split_for_parallel_load(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key} ,'CALL STAGING_GBL.SP_MERGE_STANDARD(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key},''''@{concat(item().snowflake_db,'.',item().snowflake_table_def,'.',replace(item().snowflake_table,'_TEMP',''))}'''',''''@{concat(item().snowflake_db,'.',item().snowflake_table_def,'.',item().snowflake_table)}'''',''''@{item().cdc_cols}'''',''''@{item().cdc_cols}'''',''''ETL'''',1,''''@{item().cdc_dedupe}'''');')",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "FILTER_SQL",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LOOKUP_TABLE_CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LOOKUP_TABLE_CONFIG').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(and(and(equals(item().cdc_flag,'1'),equals(item().execute_flag,'1')),equals(item().source,'SQL')), contains(pipeline().parameters.Jobs,string(item().job_key)))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach-SQL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILTER_SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FILTER_SQL').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PARALLEL_LOAD_copy5",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL staging_gbl.sp_split_for_parallel_load(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key} ,'CALL STAGING_GBL.SP_MERGE_STANDARD(@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{item().job_key},''''@{concat(item().snowflake_db,'.',item().snowflake_table_def,'.',replace(item().snowflake_table,'_TEMP',''))}'''',''''@{concat(item().snowflake_db,'.',item().snowflake_table_def,'.',item().snowflake_table)}'''',''''@{item().cdc_cols}'''',''''@{item().cdc_cols}'''',''''ETL'''',1,''''@{item().cdc_dedupe}'''');')",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"flow_key": {
				"type": "string",
				"defaultValue": "1"
			},
			"run_key": {
				"type": "string",
				"defaultValue": "10315"
			},
			"Jobs": {
				"type": "string",
				"defaultValue": "30001,0"
			}
		},
		"folder": {
			"name": "UIF/MAIN_PIPELINE_JOBS/FLOW"
		},
		"annotations": []
	}
}