pipeline/PIPELINE_SQL_LOAD.json
{
	"name": "PIPELINE_SQL_LOAD",
	"properties": {
		"activities": [
			{
				"name": "JOB_START1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": {
							"value": "CALL STAGING_GBL.SP_JOB_START(@{pipeline().parameters.run_key}, @{pipeline().parameters.job_key}, '@{pipeline().parameters.snowflake_table}');",
							"type": "Expression"
						},
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "CHECK_JOB_STATUS1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "JOB_START1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('JOB_START1').output.firstRow.SP_JOB_START, 0))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "JOB_FAILURE1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "SQL_LOAD",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL STAGING_GBL.SP_ERROR_LOG_ETL('@{pipeline().parameters.snowflake_table}', @{pipeline().parameters.flow_key}, @{pipeline().parameters.job_key}, @{pipeline().parameters.run_key}, @{activity('JOB_START1').output.firstRow.SP_JOB_START}, 'ERROR IN SQL FILE LOAD', '');",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "FAIL_PIPELINE1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "JOB_FAILURE1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": "CALL DUMMY.DUMMY",
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						},
						{
							"name": "GETTING ERROR FROM ERROR LOG1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "JOB_FAILURE1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "SELECT ERROR_TYPE, ERROR_CODE, ERROR_STATE, ERROR_MESSAGE, IMPACTED_OBJECT, ACTUAL_ACTIVITY, INSERTED_ON_TS FROM STAGING_GBL.ERROR_LOG ORDER BY INSERTED_ON_TS DESC",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						},
						{
							"name": "RESULT1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GETTING ERROR FROM ERROR LOG1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RESULT",
								"value": {
									"value": "<tr>\n<td>@{activity('GETTING ERROR FROM ERROR LOG1').output.firstRow.ERROR_TYPE}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG1').output.firstRow.ERROR_CODE}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG1').output.firstRow.ERROR_STATE}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG1').output.firstRow.ERROR_MESSAGE}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG1').output.firstRow.IMPACTED_OBJECT}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG1').output.firstRow.ACTUAL_ACTIVITY}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG1').output.firstRow.INSERTED_ON_TS}</td>\n</tr>",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CALL ALERT PIPELINE1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "RESULT1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIPELINE_SEND_ERRORLOG_RESULTS_UIF",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BODY_CONTENT": {
										"value": "@variables('RESULT')",
										"type": "Expression"
									},
									"SUBJECT": {
										"value": "RGM_Update : (DEV) RGM MASTER PIPELINE FAILED AT @{utcnow()} UTC ",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SQL_LOAD",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIPELINE_SQL_COUNT_UIF",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source_table": {
										"value": "@pipeline().parameters.source_table",
										"type": "Expression"
									},
									"filter_col": {
										"value": "@pipeline().parameters.filter_col",
										"type": "Expression"
									},
									"adls_container": {
										"value": "@pipeline().parameters.adls_container",
										"type": "Expression"
									},
									"adls_folder": {
										"value": "@pipeline().parameters.adls_folder",
										"type": "Expression"
									},
									"snowflake_table": {
										"value": "@pipeline().parameters.snowflake_table",
										"type": "Expression"
									},
									"if_delta": {
										"value": "@pipeline().parameters.if_delta",
										"type": "Expression"
									},
									"target_table_load": {
										"value": "@pipeline().parameters.target_table_load",
										"type": "Expression"
									},
									"snowflake_table_def": {
										"value": "@pipeline().parameters.snowflake_table_def",
										"type": "Expression"
									},
									"flow_key": {
										"value": "@pipeline().parameters.flow_key",
										"type": "Expression"
									},
									"run_key": {
										"value": "@pipeline().parameters.run_key",
										"type": "Expression"
									},
									"job_key": {
										"value": "@pipeline().parameters.job_key",
										"type": "Expression"
									},
									"query": {
										"value": "@pipeline().parameters.query",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "SET_ERROR_CHECK1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CHECK_ERROR1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "error_check",
								"value": {
									"value": "@activity('CHECK_ERROR1').output.firstRow.SP_CHECK_FOR_ERROR",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CHECK_ERROR1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "SQL_LOAD",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL STAGING_GBL.SP_CHECK_FOR_ERROR(@{pipeline().parameters.flow_key}, @{pipeline().parameters.job_key}, @{pipeline().parameters.run_key});",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SP_FAILURE_CHECK1",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "CHECK_JOB_STATUS1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('error_check')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "SUCCESS",
							"activities": [
								{
									"name": "JOB_END1",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SnowflakeSource",
											"query": {
												"value": "CALL STAGING_GBL.SP_JOB_END(@{activity('JOB_START1').output.firstRow.SP_JOB_START}, @{pipeline().parameters.job_key}, @{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key});",
												"type": "Expression"
											},
											"exportSettings": {
												"type": "SnowflakeExportCopyCommand"
											}
										},
										"firstRowOnly": true
									}
								}
							]
						},
						{
							"value": "FAIL",
							"activities": [
								{
									"name": "FAIL_PIPELINE3",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "JOB_FAILURE3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SnowflakeSource",
											"query": "CALL DUMMY.DUMMY",
											"exportSettings": {
												"type": "SnowflakeExportCopyCommand"
											}
										}
									}
								},
								{
									"name": "JOB_FAILURE3",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SnowflakeSource",
											"query": {
												"value": "CALL STAGING_GBL.SP_ERROR_LOG_ETL('@{pipeline().parameters.snowflake_table}', @{pipeline().parameters.flow_key}, @{pipeline().parameters.job_key}, @{pipeline().parameters.run_key}, @{activity('JOB_START1').output.firstRow.SP_JOB_START}, 'Check error log table for the error message', '');",
												"type": "Expression"
											},
											"exportSettings": {
												"type": "SnowflakeExportCopyCommand"
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "GETTING ERROR FROM ERROR LOG3",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "JOB_FAILURE3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SnowflakeSource",
											"query": {
												"value": "SELECT ERROR_TYPE, ERROR_CODE, ERROR_STATE, ERROR_MESSAGE, IMPACTED_OBJECT, ACTUAL_ACTIVITY, INSERTED_ON_TS FROM STAGING_GBL.ERROR_LOG ORDER BY INSERTED_ON_TS DESC",
												"type": "Expression"
											},
											"exportSettings": {
												"type": "SnowflakeExportCopyCommand"
											}
										}
									}
								},
								{
									"name": "RESULT3",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "GETTING ERROR FROM ERROR LOG3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "RESULT",
										"value": {
											"value": "<tr>\n<td>@{activity('GETTING ERROR FROM ERROR LOG3').output.firstRow.ERROR_TYPE}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG3').output.firstRow.ERROR_CODE}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG3').output.firstRow.ERROR_STATE}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG3').output.firstRow.ERROR_MESSAGE}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG3').output.firstRow.IMPACTED_OBJECT}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG3').output.firstRow.ACTUAL_ACTIVITY}</td>\n<td>@{activity('GETTING ERROR FROM ERROR LOG3').output.firstRow.INSERTED_ON_TS}</td>\n</tr>",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CALL ALERT PIPELINE3",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "RESULT3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIPELINE_SEND_ERRORLOG_RESULTS_UIF",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"BODY_CONTENT": {
												"value": "@variables('RESULT')",
												"type": "Expression"
											},
											"SUBJECT": {
												"value": "RGM_Update : (DEV) RGM - MASTER PIPELINE FAILED AT @{utcnow()} UTC ",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"flow_key": {
				"type": "string",
				"defaultValue": "1"
			},
			"run_key": {
				"type": "string"
			},
			"job_key": {
				"type": "string"
			},
			"source_table": {
				"type": "string"
			},
			"filter_col": {
				"type": "string"
			},
			"adls_container": {
				"type": "string"
			},
			"adls_folder": {
				"type": "string"
			},
			"snowflake_table": {
				"type": "string"
			},
			"if_delta": {
				"type": "string"
			},
			"target_table_load": {
				"type": "string"
			},
			"snowflake_table_def": {
				"type": "string"
			},
			"query": {
				"type": "string"
			},
			"subject": {
				"type": "string"
			}
		},
		"variables": {
			"error_check": {
				"type": "String"
			},
			"RESULT": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UIF/MAIN_PIPELINE_JOBS/TABLE_LOAD_FLOW"
		},
		"annotations": []
	}
}