pipeline/PIPELINE_HANA_NUM_LOAD_CHILD_UIF.json
{
	"name": "PIPELINE_HANA_NUM_LOAD_CHILD_UIF",
	"properties": {
		"activities": [
			{
				"name": "CAPTURE_FILTER_QRY",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapHanaSource",
						"query": {
							"value": "SELECT DISTINCT @{split(pipeline().parameters.filter_col,',')[0]} as VAL FROM @{pipeline().parameters.source_table} WHERE @{pipeline().parameters.delta_condition}",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DATASET_SAP_HANA_SOURCE_UIF",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CAPTURE_FILTER_QRY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CAPTURE_FILTER_QRY').output.value",
						"type": "Expression"
					},
					"batchCount": 19,
					"activities": [
						{
							"name": "COPY_TO_ADF",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SapHanaSource",
									"query": {
										"value": "SELECT * FROM @{pipeline().parameters.source_table} WHERE @{split(pipeline().parameters.filter_col,',')[0]} = @{item().VAL} AND @{pipeline().parameters.delta_condition}",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DATASET_SAP_HANA_SOURCE_UIF",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DATASET_ADLS_CSV_FOLDER_UIF",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_container",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@pipeline().parameters.adls_folder",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"source_table": {
				"type": "string"
			},
			"filter_col": {
				"type": "string"
			},
			"delta_condition": {
				"type": "string"
			},
			"adls_container": {
				"type": "string"
			},
			"adls_folder": {
				"type": "string"
			}
		},
		"folder": {
			"name": "UIF/MAIN_PIPELINE_JOBS/TABLE_LOAD_FLOW"
		},
		"annotations": []
	}
}