pipeline/PIPELINE_ZIP_FILE_LAUNCHER_UIF.json
{
	"name": "PIPELINE_ZIP_FILE_LAUNCHER_UIF",
	"properties": {
		"activities": [
			{
				"name": "ForEach_ZIP",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "UNZIP_FILE_FILTER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('UNZIP_FILE_FILTER').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "FILES_DATA",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "files",
								"value": {
									"value": "@pipeline().parameters.internal_files",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ForEach1",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "FILES_DATA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@variables('files')",
									"type": "Expression"
								},
								"activities": [
									{
										"name": "CHECK_SOURCE",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().file_source",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "CSV",
													"activities": [
														{
															"name": "COPY_CSV_TO_ADLS",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "LS_BLOB_STORAGE_UIF",
																		"type": "LinkedServiceReference"
																	},
																	"path": "sf-staging/UIF"
																}
															},
															"inputs": [
																{
																	"referenceName": "DATASET_ADLS_CSV_FILE_UIF",
																	"type": "DatasetReference",
																	"parameters": {
																		"container_name": {
																			"value": "@concat(pipeline().parameters.adls_container_unzip,'/',pipeline().parameters.adls_folder_unzip)",
																			"type": "Expression"
																		},
																		"folder_name": {
																			"value": "@concat(pipeline().parameters.adls_file_zip,'/',split(pipeline().parameters.adls_file_zip,'.')[0])",
																			"type": "Expression"
																		},
																		"file_name": {
																			"value": "@item().adls_file",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "EXCEL",
													"activities": [
														{
															"name": "COPY_EXCEL_TO_ADLS",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "ExcelSource",
																	"storeSettings": {
																		"type": "AzureBlobFSReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "LS_BLOB_STORAGE_UIF",
																		"type": "LinkedServiceReference"
																	},
																	"path": "sf-staging/UIF"
																}
															},
															"inputs": [
																{
																	"referenceName": "DATASET_ADLS_EXCEL_FILE_UIF",
																	"type": "DatasetReference",
																	"parameters": {
																		"container_name": {
																			"value": "@concat(pipeline().parameters.adls_container_unzip,'/',pipeline().parameters.adls_folder_unzip)",
																			"type": "Expression"
																		},
																		"folder_name": {
																			"value": "@concat(pipeline().parameters.adls_file_zip,'/',split(pipeline().parameters.adls_file_zip,'.')[0])",
																			"type": "Expression"
																		},
																		"file_name": {
																			"value": "@item().adls_file",
																			"type": "Expression"
																		},
																		"sheet_name": {
																			"value": "@item().sheet",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "TEXT",
													"activities": [
														{
															"name": "COPY_TEXT_TO_ADLS",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"enableStaging": true,
																"stagingSettings": {
																	"linkedServiceName": {
																		"referenceName": "LS_BLOB_STORAGE_UIF",
																		"type": "LinkedServiceReference"
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "DATASET_BLOB_TEXT_PIPE_FILE_UIF",
																	"type": "DatasetReference",
																	"parameters": {
																		"container": {
																			"value": "@concat(pipeline().parameters.adls_container_unzip,'/',pipeline().parameters.adls_folder_unzip)",
																			"type": "Expression"
																		},
																		"folder": {
																			"value": "@pipeline().parameters.adls_file_zip",
																			"type": "Expression"
																		},
																		"file": {
																			"value": "@item().adls_file",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												}
											]
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "UNZIP_FILE_LIST",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.adls_container_zip",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@pipeline().parameters.adls_folder_zip",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "UNZIP_FILE_FILTER",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "UNZIP_FILE_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('UNZIP_FILE_LIST').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, replace(pipeline().parameters.fs_zip_file_name,'.zip',''))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"internal_files": {
				"type": "string"
			},
			"adls_folder_unzip": {
				"type": "string"
			},
			"adls_container_zip": {
				"type": "string"
			},
			"adls_container_unzip": {
				"type": "string"
			},
			"adls_file_zip": {
				"type": "string"
			},
			"adls_folder_zip": {
				"type": "string"
			},
			"fs_zip_file_name": {
				"type": "string"
			}
		},
		"variables": {
			"files": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UIF/ZIP_LOAD_FLOW"
		},
		"annotations": []
	}
}