pipeline/PIPELINE_ZIP_SUBFILES_LOAD_UIF.json
{
	"name": "PIPELINE_ZIP_SUBFILES_LOAD_UIF",
	"properties": {
		"activities": [
			{
				"name": "FILES_DATA",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "files",
					"value": {
						"value": "@pipeline().parameters.internal_files",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FILES_DATA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('files')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CHECK_SOURCE",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().file_source",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "CSV",
										"activities": [
											{
												"name": "COPY_CSV_TO_ADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "LS_BLOB_STORAGE_UIF",
															"type": "LinkedServiceReference"
														},
														"path": "sf-staging/UIF"
													}
												},
												"inputs": [
													{
														"referenceName": "DATASET_ADLS_CSV_FILE_UIF",
														"type": "DatasetReference",
														"parameters": {
															"container_name": {
																"value": "@concat(pipeline().parameters.adls_container_unzip,'/',pipeline().parameters.adls_folder_unzip)",
																"type": "Expression"
															},
															"folder_name": {
																"value": "@concat(pipeline().parameters.adls_file_zip,'/',split(pipeline().parameters.adls_file_zip,'.')[0])",
																"type": "Expression"
															},
															"file_name": {
																"value": "@item().adls_file",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DATASET_ADLS_ZIP_BINARY_FOLDER_UIF",
														"type": "DatasetReference",
														"parameters": {
															"container_name": {
																"value": "@pipeline().parameters.adls_container_unzip",
																"type": "Expression"
															},
															"folder_name": {
																"value": "@pipeline().parameters.adls_folder_unzip",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "EXCEL",
										"activities": [
											{
												"name": "COPY_CSV_SNOWFLAKE",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "COPY_EXCEL_TO_CSV",
														"dependencyConditions": [
															"Succeeded"
														]
													},
													{
														"activity": "GENERATE_TABLE1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "SnowflakeSink",
														"preCopyScript": {
															"value": "TRUNCATE TABLE @{item().snowflake_table}",
															"type": "Expression"
														},
														"importSettings": {
															"type": "SnowflakeImportCopyCommand"
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "LS_BLOB_STORAGE_UIF",
															"type": "LinkedServiceReference"
														},
														"path": "sf-staging/UIF"
													}
												},
												"inputs": [
													{
														"referenceName": "DATASET_ADLS_CSV_FILE_UIF",
														"type": "DatasetReference",
														"parameters": {
															"container_name": {
																"value": "@concat(pipeline().parameters.adls_container_unzip,'/',pipeline().parameters.adls_folder_unzip)",
																"type": "Expression"
															},
															"folder_name": {
																"value": "@concat(pipeline().parameters.adls_file_zip,'/',split(pipeline().parameters.adls_file_zip,'.')[0])",
																"type": "Expression"
															},
															"file_name": {
																"value": "@concat('csv/',replace(item().adls_file,'.xlsx','.csv'))",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DATASET_SNOWFLAKE_TABLE_UIF",
														"type": "DatasetReference",
														"parameters": {
															"schema_name": {
																"value": "@split(item().snowflake_table,'.')[0]",
																"type": "Expression"
															},
															"table_name": {
																"value": "@split(item().snowflake_table,'.')[1]",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "COPY_EXCEL_TO_CSV",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "ExcelSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": true,
													"stagingSettings": {
														"linkedServiceName": {
															"referenceName": "LS_BLOB_STORAGE_UIF",
															"type": "LinkedServiceReference"
														},
														"path": "sf-staging/UIF"
													},
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DATASET_ADLS_EXCEL_FILE_UIF",
														"type": "DatasetReference",
														"parameters": {
															"container_name": {
																"value": "@concat(pipeline().parameters.adls_container_unzip,'/',pipeline().parameters.adls_folder_unzip)",
																"type": "Expression"
															},
															"folder_name": {
																"value": "@concat(pipeline().parameters.adls_file_zip,'/',split(pipeline().parameters.adls_file_zip,'.')[0])",
																"type": "Expression"
															},
															"file_name": {
																"value": "@item().adls_file",
																"type": "Expression"
															},
															"sheet_name": {
																"value": "@item().sheet",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DATASET_ADLS_CSV_FILE_UIF",
														"type": "DatasetReference",
														"parameters": {
															"container_name": {
																"value": "@concat(pipeline().parameters.adls_container_unzip,'/',pipeline().parameters.adls_folder_unzip)",
																"type": "Expression"
															},
															"folder_name": {
																"value": "@concat(pipeline().parameters.adls_file_zip,'/',split(pipeline().parameters.adls_file_zip,'.')[0])",
																"type": "Expression"
															},
															"file_name": {
																"value": "@concat('csv/',replace(item().adls_file,'.xlsx','.csv'))",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "GENERATE_TABLE1",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SnowflakeSource",
														"query": {
															"value": "CALL staging_gbl.sp_generate_tbl_def(@{concat('''',split(item().snowflake_table,'.')[0],'''')},@{concat('''',split(item().snowflake_table,'.')[1],'''')},@{concat('''',item().table_load,'''')},@{concat('''',item().table_def,'''')},@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{pipeline().parameters.job_key})",
															"type": "Expression"
														},
														"exportSettings": {
															"type": "SnowflakeExportCopyCommand"
														}
													},
													"dataset": {
														"referenceName": "DATASET_SNOWFLAKE_STORED_PROC_UIF",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "TEXT",
										"activities": [
											{
												"name": "COPY_TEXT_TO_SNOWFLAKE",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "GENERATE_TABLE2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "SnowflakeSink",
														"preCopyScript": {
															"value": "TRUNCATE TABLE @{item().snowflake_table}",
															"type": "Expression"
														},
														"importSettings": {
															"type": "SnowflakeImportCopyCommand"
														}
													},
													"enableStaging": true
												},
												"inputs": [
													{
														"referenceName": "DATASET_BLOB_TEXT_PIPE_FILE_UIF",
														"type": "DatasetReference",
														"parameters": {
															"container": {
																"value": "@concat(pipeline().parameters.adls_container_unzip,'/',pipeline().parameters.adls_folder_unzip)",
																"type": "Expression"
															},
															"folder": {
																"value": "@pipeline().parameters.adls_file_zip",
																"type": "Expression"
															},
															"file": {
																"value": "@item().adls_file",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DATASET_SNOWFLAKE_TABLE_UIF",
														"type": "DatasetReference",
														"parameters": {
															"schema_name": {
																"value": "@split(item().snowflake_table,'.')[0]",
																"type": "Expression"
															},
															"table_name": {
																"value": "@split(item().snowflake_table,'.')[1]",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "GENERATE_TABLE2",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SnowflakeSource",
														"query": {
															"value": "CALL staging_gbl.sp_generate_tbl_def(@{concat('''',split(item().snowflake_table,'.')[0],'''')},@{concat('''',split(item().snowflake_table,'.')[1],'''')},@{concat('''',item().table_load,'''')},@{concat('''',item().table_def,'''')},@{pipeline().parameters.flow_key}, @{pipeline().parameters.run_key}, @{pipeline().parameters.job_key})",
															"type": "Expression"
														},
														"exportSettings": {
															"type": "SnowflakeExportCopyCommand"
														}
													},
													"dataset": {
														"referenceName": "DATASET_SNOWFLAKE_STORED_PROC_UIF",
														"type": "DatasetReference"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"internal_files": {
				"type": "array"
			},
			"adls_file_zip": {
				"type": "string"
			},
			"adls_container_unzip": {
				"type": "string"
			},
			"adls_folder_unzip": {
				"type": "string"
			},
			"flow_key": {
				"type": "string"
			},
			"run_key": {
				"type": "string"
			},
			"job_key": {
				"type": "string"
			}
		},
		"variables": {
			"files": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "UIF/ZIP_LOAD_FLOW"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-12T04:21:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}