pipeline/PIPELINE_SEND_ERRORLOG_RESULTS_UIF.json
{
	"name": "PIPELINE_SEND_ERRORLOG_RESULTS_UIF",
	"properties": {
		"activities": [
			{
				"name": "GET_MAILING_LIST",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 1
						}
					},
					"dataset": {
						"referenceName": "Dataset_Email_Notification_Recipients_UIF",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "drivers/@{toLower(pipeline().globalParameters.env)}",
								"type": "Expression"
							},
							"folderName": "email_list",
							"fileName": "mail_list.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOR_EACH_MAIL_ID",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET_MAILING_LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_MAILING_LIST').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "MAIL_ARRAY",
								"value": {
									"value": "@item().Prop_0",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set EmailTo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FOR_EACH_MAIL_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "MAIL_TO",
					"value": {
						"value": "@join(variables('MAIL_ARRAY'),';')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SEND_MAIL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set EmailTo",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set body",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-08.northcentralus.logic.azure.com:443/workflows/dc27c422a5dd4de69ab23fb5b6ee1fc8/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=hRwvui4AP5DeAi7URGYjdwx_NefbglXD6zrnGWfJVmQ",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"To\": \"@{variables('MAIL_TO')}\",\n    \"Subject\": \"@{pipeline().parameters.SUBJECT}\",\n    \"Content\": \"@{variables('BODY')}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set body",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BODY",
					"value": {
						"value": "<!DOCTYPE html>\n<html>\n<head>\n<style>\ntable {\n  font-family: arial, sans-serif;\n  border-collapse: collapse;\n}\n\ntd, th {\n  border: 1px solid #dddddd;\n  text-align: left;\n  padding: 8px;\n}\n\ntr:nth-child(even) {\n  background-color: #dddddd;\n}\n</style>\n</head>\n<body>\n\n<p><strong>ERROR IN PIPELINE</strong></p>\n\n<table>\n  <tr>\n    <th>ERROR_TYPE</th>\n    <th>ERROR_CODE</th>\n    <th>ERROR_STATE</th>\n    <th>ERROR_MESSAGE</th>\n    <th>IMPACTED_OBJECT</th>\n    <th>ACTUAL_ACTIVITY</th>\n    <th>INSERTED_ON_TS</th>\n  </tr>\n  @{pipeline().parameters.BODY_CONTENT}\n</table>\n</body>\n</html>",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"BODY_CONTENT": {
				"type": "string"
			},
			"SUBJECT": {
				"type": "string"
			}
		},
		"variables": {
			"MAIL_ARRAY": {
				"type": "Array"
			},
			"MAIL_TO": {
				"type": "String"
			},
			"BODY": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UIF/0_ARCHIVE/ALERTS_NOTIFICATIONS"
		},
		"annotations": []
	}
}