pipeline/PIPELINE_FILE_LOAD_EXCEL_CHILD_UIF.json
{
	"name": "PIPELINE_FILE_LOAD_EXCEL_CHILD_UIF",
	"properties": {
		"activities": [
			{
				"name": "EXCEL_COPY_ACTIVITY",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SET COUNT_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('count')),1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ALERT_FILE_MISSING",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIPELINE_SEND_STATUS_MAIL_UIF",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BODY_CONTENT": {
										"value": "LATEST EXCEL FILE MISSING - @{pipeline().parameters.name}",
										"type": "Expression"
									},
									"SUBJECT": {
										"value": "RGM_Update : (@DEV) RGM MASTER PIPELINE UPDATED AT @{utcnow()} UTC ",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ACTIVITY_LOG",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "ALERT_FILE_MISSING",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeSource",
									"query": {
										"value": "CALL STAGING_GBL.SP_ACTIVITY_LOG(21,'@{pipeline().parameters.name}','FILE MISSING',@{pipeline().parameters.run_key},@{pipeline().parameters.job_key},@{pipeline().parameters.flow_key})",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand"
									}
								},
								"dataset": {
									"referenceName": "DATASET_SNOWFLAKE_TABLE_UIF",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "STAGING_GBL",
										"table_name": "SP_ACTIVITY_LOG"
									}
								},
								"firstRowOnly": false
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "COPY_ADLS_ARC_EXCEL_RAW",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "COPY_FS_ADLS_EXCEL_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@replace(pipeline().parameters.name,'.excel','*.excel')",
											"type": "Expression"
										},
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_container",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@concat(pipeline().parameters.adls_folder,'/', formatDateTime(utcNow(), 'yyyy/MM/dd'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_arc_container",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@concat(pipeline().parameters.adls_arc_folder, formatDateTime(utcNow(), 'yyyy-MM-ddTHH:MM'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "COPY_ADLS_ARC_EXCEL_REFINE",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "COPY_FS_ADLS_EXCEL_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@replace(pipeline().parameters.name,'.excel','*.excel')",
											"type": "Expression"
										},
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_container",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@concat(pipeline().parameters.adls_folder,'/', formatDateTime(utcNow(), 'yyyy/MM/dd'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_arc_container",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@concat(replace(pipeline().parameters.adls_arc_folder, 'Raw', 'Refine'), '/',formatDateTime(utcNow(), 'yyyy-MM-ddTHH:MM'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "COPY_FS_ADLS_EXCEL_ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFileName": {
											"value": "@concat(split(pipeline().parameters.name, '.')[0],'*')",
											"type": "Expression"
										},
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_container",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@pipeline().parameters.source_folder_path",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.adls_container",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@concat(pipeline().parameters.adls_folder,'/', formatDateTime(utcnow(), 'yyyy/MM/dd'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "CHECK_IF_FILE_EXISTS_ADLS",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DATASET_ADLS_BINARY_FOLDER_UIF",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.adls_container",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@pipeline().parameters.source_folder_path",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FILTER_FILE_ADLS",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "CHECK_IF_FILE_EXISTS_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CHECK_IF_FILE_EXISTS_ADLS').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, split(pipeline().parameters.name,'.')[0])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET COUNT_ADLS",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FILTER_FILE_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "count",
					"value": {
						"value": "@string(activity('FILTER_FILE_ADLS').output.FilteredItemsCount)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"name": {
				"type": "string",
				"defaultValue": "Query Limpia.xlsx"
			},
			"source_folder_path": {
				"type": "string",
				"defaultValue": "/dummy/"
			},
			"adls_container": {
				"type": "string",
				"defaultValue": "globaldatalake"
			},
			"adls_folder": {
				"type": "string",
				"defaultValue": "/ExternalSources/RegionalDL/POS/EMEA/Spain/PnL/Raw/Data/"
			},
			"adls_arc_container": {
				"type": "string",
				"defaultValue": "globaldatalake"
			},
			"adls_arc_folder": {
				"type": "string",
				"defaultValue": "/ExternalSources/RegionalDL/POS/EMEA/Spain/PnL/Raw/archive/"
			},
			"target_table_schema": {
				"type": "string",
				"defaultValue": "STAGING_EU_FIN"
			},
			"target_table": {
				"type": "string",
				"defaultValue": "RGM_EM_ES_PL_HANA"
			},
			"target_table_load": {
				"type": "string",
				"defaultValue": "DROP_CREATE"
			},
			"target_table_def": {
				"type": "string",
				"defaultValue": "SU NUMBER, PIECES_PC NUMBER, CASES NUMBER, GROSS_SALES_VALUE NUMBER, MARKET_DISCOUNT NUMBER, GSV NUMBER, MANUAL_PRICE_SALES NUMBER, RETURNS NUMBER, CUST_DISC_ON_IVOICE NUMBER, BASE_DISCOUNT NUMBER, LOGISTIC_DISCOUNT NUMBER, CUSTOMER_COLLECTION NUMBER, CASH_DISCOUNT_ACCR NUMBER, D&A_OFF NUMBER, D&A NUMBER, GSAD NUMBER, FREE_GOODS NUMBER, MANUAL_PRICE_PROM NUMBER, TRADE_PROM_ON_INV NUMBER, TRADE_PROMO_ON NUMBER, TRADE_PROMO_OFF_ACCR NUMBER, TRADE_PROM_OFF_INV_T_PROJ NUMBER, TRADE_PROMO_OFF NUMBER, TRADE_PROMOTION_RIR NUMBER, CONS_PROM_ON NUMBER, CONS_PROMO_OFF_F_PROJECTS NUMBER, REDEMPTION NUMBER, CONSUMER_PROMO_OFF NUMBER, CONSUMER_PROMO_RIR NUMBER, NSV NUMBER, COS_VARIABLE NUMBER, DIS_VARIABLE NUMBER, NET_CONTRIBUTION NUMBER, NET_CONTRIBUTION_MARGIN VARCHAR(20), FIXED_COSTS NUMBER, FIXED_DISTRIBUTION NUMBER, GROSS_PROFIT_BEF_VAR&UNUS NUMBER, GROSS_PROFIT_MARGIN_BEFVAR&UNUS VARCHAR(20), COS_VARIANCE NUMBER, COS_UNUSUAL NUMBER, COS_EURO NUMBER, GROSS_PROFIT NUMBER, GROSS_PROFIT_MARGIN VARCHAR(20), ADVERTISING NUMBER, CP NUMBER, GPAP NUMBER, GPAP_MARGIN VARCHAR(20), ISVHDR_DISCOUNT NUMBER, ISV NUMBER, HDR_DISCOUNT NUMBER, COS_EXC_VARIANCES NUMBER, DISTRIBUTION NUMBER, GSV_SU NUMBER, D&A_SU NUMBER, GSAD_SU NUMBER, TRADE_PROMO_ON_SU NUMBER, TRADE_PROMO_OFF_SU NUMBER, TRADE_PROMO_SU NUMBER, CONSUMER_PROMO_ON_SU NUMBER, CONSUMER_PROMO_OFF_SU NUMBER, CONSUMER_PROMO_SU NUMBER, NSV_SU NUMBER, COS_VAR_SU NUMBER, COS_FIX_SU NUMBER, COS_EX_VAR_SU NUMBER, DIS_VAR_SU NUMBER, DIS_FIX_SU NUMBER, DIS_SU NUMBER, GROSS_PROFIT_EX_VAR_SU NUMBER, GSV_CASE NUMBER, D&A_CASE NUMBER, GSAD_CASE NUMBER, TRADE_PROMO_ON_CASE NUMBER, TRADE_PROMO_OFF_CASE NUMBER, TRADE_PROMO_CASE NUMBER, CONSUMER_PROMO_ON_CASE NUMBER, CONSUMER_PROMO_OFF_CASE NUMBER, CONSUMER_PROMO_CASE NUMBER, NSV_CASE NUMBER, COS_VAR_CS NUMBER, COS_FIX_CS NUMBER, COS_EX_VAR_CASE NUMBER, DIS_VAR_CS NUMBER, DIS_FIX_CS NUMBER, DIS_CASE NUMBER, GROSS_PROFIT_EX_VAR_CASE NUMBER, GSV_PACK NUMBER, D&A_PACK NUMBER, GSAD_PACK NUMBER, TRADE_PROMO_ON_PACK NUMBER, TRADE_PROMO_OFF_PACK NUMBER, TRADE_PROMO_PACK NUMBER, CONSUMER_PROMO_ON_PACK NUMBER, CONSUMER_PROMO_OFF_PACK NUMBER, CONSUMER_PROMO_PACK NUMBER, NSV_PACK NUMBER, ISVHDR_DISCOUNT_PACK NUMBER, _PLANTILLA VARCHAR(20), CUSTOMER_SPECIFIC_PRICE_ZLP_PACK NUMBER, COS_EX_VAR_PACK NUMBER, COS_VAR_PC NUMBER, COS_FIX_PC NUMBER, DISTRIBUTION_PACK NUMBER, DIS_VAR_PC NUMBER, DIS_FIX_PC NUMBER, GROSS_PROFIT_EX_VAR_PACK NUMBER, FISCAL_PERIOD NUMBER, FISCAL_YEAR NUMBER, AUDIT_LASTMODIFIEDTIME TIMESTAMP_NTZ(9) DEFAULT CURRENT_TIMESTAMP(), AUDIT_SOURCEFILENAME VARCHAR(200), AUDIT_SOURCE VARCHAR(20) DEFAULT ''FLAT FILE'', AUDIT_REGION VARCHAR(10) DEFAULT ''EU'', AUDIT_MARKET VARCHAR(10) DEFAULT ''ES''"
			},
			"flow_key": {
				"type": "string",
				"defaultValue": "1"
			},
			"run_key": {
				"type": "string",
				"defaultValue": "32003"
			},
			"job_key": {
				"type": "string",
				"defaultValue": "30002"
			},
			"sheet": {
				"type": "string",
				"defaultValue": "'Pivot limpia'!A12"
			},
			"skip_line": {
				"type": "int",
				"defaultValue": 0
			},
			"cdc_flag": {
				"type": "string",
				"defaultValue": "0"
			},
			"cdc_columns": {
				"type": "string"
			},
			"file_type": {
				"type": "string",
				"defaultValue": "ADLS,EXCEL"
			},
			"isNotebook": {
				"type": "string",
				"defaultValue": "1"
			},
			"notebookPath": {
				"type": "string",
				"defaultValue": "/Users/payal.das@kcc.com/KC-EM-ES-PNL-SAPBW"
			},
			"isDQNotebook": {
				"type": "string",
				"defaultValue": "0"
			},
			"DQNotebookPath": {
				"type": "string"
			},
			"recipients": {
				"type": "string",
				"defaultValue": "payal.das@kcc.com;abhijith.m@kcc.com"
			},
			"PipelineID": {
				"type": "string",
				"defaultValue": "9b69a2c1-d93c-40e5-9cb2-ce72cf679f3b"
			},
			"target_table_db": {
				"type": "string"
			},
			"job_start": {
				"type": "string"
			}
		},
		"variables": {
			"count": {
				"type": "String"
			}
		},
		"folder": {
			"name": "UIF/FILE_LOAD_FLOW"
		},
		"annotations": []
	}
}